#html, body {
  margin: 0;
  padding: 0;
  /*height: 2500px;*/
}

.header {
  background-color: #333333;
  z-index: 100;
  position: fixed;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
}

.jumbotron {
  height: 1260px;
  background-image: url("../img/wood-bg.jpg");
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-size: cover;
  
}

/*  navbar  */
.nav {
  margin: 0;
  padding: 20px 0;
}

.nav li {
  color: #fff;
  background-color: #333333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  display: inline;
  text-transform: uppercase;
  padding: 0px 10px;
}

.nav a {
  text-decoration: none;
}

/*  Heading  */
.main {
  position: relative;
  top: 440px;
  text-align: center;
}

.main h1 {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 120px;
  margin: 0 250px 10px 0;
}

.main h2 {
	color: #FFF;
	font-family: 'Raleway', sans-serif;
	font-weight: 10;
	font-size: 32px;
	margin: 20px 100px 0 0;
}

.btn-main {
  color: #FFF;
  background-color: #333333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}
/*  Button in the skills area  */
.btn-default {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;  
  display: inline-block;
  margin-bottom: 20px; 
  border: 1px solid #333333;
  color: #333333;
}

.btn-default:hover {
	border: 1.5px solid #000;
	color: #333;
	font-size: 12px;
}

.btn-default a:active {
	position: relative;
	top: 2px;
}

/*  Skills Section  */

.skills {
  height: 600px;
  width: auto;
  padding: 80px 0 20px 0;
}

.skills .col {
  float: left;
  width: 20%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.skills img {
  height: 120px;
  margin: 120px 0 0 0;
}

.skills h1 {
  font-family: 'Raleway', sans-serif;
  color: #333333;
  text-align: center;
  margin: -30px 0 30px 0;
  text-transform: uppercase;
  font-size: 40px;
  margin: 20px 0 0 0;
}

.skills h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.skills p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}

/*  Portfolio Section  */
.portfolio {
  height: 600px;
  width: auto;
  background-color: #FAFAFA;
  padding: 80px 0 0 0;
}

.portfolio .col {
  float: left;
  width: 33.33333%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.portfolio h1 {
  font-family: 'Raleway', sans-serif;
  color: #333333;
  text-align: center;
  margin: 30px 0 30px 0;
  text-transform: uppercase;
  font-size: 40px;
  margin: 20px 0;
}

.portfolio img {
  height: 240px;
  width: 360px;
  border-radius: 10px;
  margin: 40px 0 0 0;
}

.portfolio p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}

/* About Section  */

.about {
  height: 600px;
  width: auto;
  background-color: #FFF;
  padding: 80px 0 0 0;
}

.about .col {
  float: left;
  width: 50%;
  font-family: 'Raleway', sans-serif;
  text-align: right;
}

#portrait {
  height: 400px;
  width:360px;
  border-radius: 100px;
  margin: 40px 140px 0 0;

}

.about h1 {
  font-family: 'Raleway', sans-serif;
  color: #333333;
  text-align: center !important;
  margin: 30px 0 30px 0;
  text-transform: uppercase;
  font-size: 40px;
  margin: 20px 0;
}

.about p {
  width: 600px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 0 50px;
  margin: 120px 0 0 100px;
  text-align: left !important;
}

/*  Contact Section  */
.contact {
  height: 600px;
  background: url("../img/contact_banner.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 20% 25%;
  text-align: center;
  padding: 80px 0 0 0;
}

.contact h1 {
  font-family: 'Raleway', sans-serif;
  color: #333;
  text-align: center;
  margin: 20px 0 200px 0;
  text-transform: uppercase;
  font-size: 40px;
}

.contact img {
  height: 80px;
  width: 80px;
  padding: 40px 10px 20px 10px;
}

.contact a {
  text-decoration: none;
}

.contact p {
  color: #333;
  font-size: 20px;
}

/*  Footer Section  */
.clearfix {
  clear: both;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 15px 0;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}

/*  This adjusts for screens with a max-width of less than 500px  */
@media (max-width: 500px) {
  .main h1 {
    font-size: 50px;
    padding: 0 40px;
  }

  